<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-12 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img style="height: 500px;" alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="\assets\photos\burger.png">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-sm title-font text-gray-500 tracking-widest"><b>{{ RestMenuItem ? RestMenuItem.menuItem.name :
            '' }}</b></h1>

        <!-- star rating -->
        <app-star-rating [rating]="3" (ratingChange)="onRatingChange($event)" [readonly]="false"></app-star-rating>

        <h3 class="leading-relaxed " style="margin-top: 10px;"><b>Cuisine</b> : {{ RestMenuItem ?
          RestMenuItem.menuItem.menu.name : '' }}</h3>

        <h3 (click)="navigateRestaurant(RestMenuItem.restaurant.id)" class="leading-relaxed restaurantCSS"
          style="margin-top: 10px;"><b>Restaurant Name</b> : {{ RestMenuItem ? RestMenuItem.restaurant.name : '' }}</h3>

        <h3 class="leading-relaxed" style="margin-top: 10px;"><b>Menu Item Desc</b> : {{RestMenuItem ?
          RestMenuItem.menuItem.description : ''}} </h3>

        <h5 class="leading-relaxed" style="margin-top: 10px;"><b>Small Price</b> : {{RestMenuItem ?
          RestMenuItem.smallPrice : ''}}</h5>

        <h5 class="leading-relaxed" style="margin-top: 10px;"><b>Medium Price</b> : {{RestMenuItem ?
          RestMenuItem.mediumPrice : ''}}</h5>

        <h5 class="leading-relaxed" style="margin-top: 10px;"><b>Large Price</b> : {{RestMenuItem ?
          RestMenuItem.largePrice : ''}}</h5>

        <div class="leading-relaxed" style="margin-top: 10px;"><mat-chip style="width: 200px;">
            <img matChipAvatar src="\assets\photos\recommendation.png" alt="Photo of a Shiba Inu" />
           Avarage Recommend {{RestMenuItem ?
              RestMenuItem.averageRecommend : '0'}}
          </mat-chip>
        </div>

        <div class="leading-relaxed" style="margin-top: 10px;">
          <mat-chip style="width: 200px;">
            <img matChipAvatar src="\assets\photos\star.png" alt="Photo of a Shiba Inu" />
            Avarage Rate {{RestMenuItem ?
              RestMenuItem.averageRate : '0'}}
          </mat-chip>

          <mat-chip style="width: 200px; margin-left: 20px;">
            <img matChipAvatar src="\assets\photos\final.png" alt="Photo of a Shiba Inu" />
            <b>Final Rating {{RestMenuItem ?
              RestMenuItem.averageFinal : '0'}}</b>
          </mat-chip>
        </div>

        <div class="leading-relaxed" style="margin-top: 10px;">
          <mat-chip style="width: 200px;">
            <img matChipAvatar src="\assets\photos\reviews.png" alt="Photo of a Shiba Inu" />
            Avarage Review {{RestMenuItem ?
              RestMenuItem.averageReview : '0'}}
          </mat-chip>
        </div>


        <div class="example-button-container" style="margin-top: 10px; display: flex; align-items: center;">
          <button mat-fab [ngClass]="{'gray-button': dislikeDisabled}" color="primary" aria-label="Like button" (click)="likeClicked()">
            <mat-icon>thumb_up</mat-icon>
          </button>
        
          <div style="margin: 10px;">
            <button mat-fab [ngClass]="{'gray-button': likeDisabled}" color="warn" aria-label="Dislike button" (click)="dislikeClicked()">
              <mat-icon>thumb_down</mat-icon>
            </button>
            <span *ngIf="likeDisabled" style="margin-left: 10px;">NotRecommended</span>
            <span *ngIf="dislikeDisabled" style="margin-left: 10px;">Recommended</span>
          </div>
        </div>
        


      </div>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900 py-8 lg:py-16 antialiased">
  <div class="max-w-2xl mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion (20)</h2>
    </div>

    <!-- post comment -->
    <form [formGroup]="commentForm" class="mb-6" action="#" method="POST">
      <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <label for="comment" class="sr-only">Your comment</label>
        <textarea formControlName="comment" formControlName="comment" id="comment" rows="6"
          class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
          placeholder="Write a comment..." required></textarea>
      </div>
      <button type="submit" (click)="sendComment()"
        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-600">
        Post comment
      </button>
    </form>

    <!-- comment -->
    <article class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
      <footer class="flex justify-between items-center mb-2">
        <div class="flex items-center">
          <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
              class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
              alt="Michael Gough">Michael Gough</p>
          <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
              title=" February 8th, 2022"> Feb. 8, 2022</time></p>
        </div>
      </footer>
      <p class="text-gray-500 dark:text-gray-400">Very straight-to-point article. Really worth time reading. Thank you!
        But tools are just the
        instruments for the UX designers. The knowledge of the design tools are as important as the
        creation of the design strategy.</p>
    </article>
  </div>
</section>