<nav *ngIf="role != ''" class="bg-gray-800"><!-- *ngIf="userType == 'admin' || userType == 'user' || userType == 'system'" -->
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <img class="h-8 w-auto" src="https://via.placeholder.com/150" alt="Logo">
        </div>
        <div class="hidden space-x-4 sm:-my-px sm:ml-10 sm:flex">

          <!-- Login -->
          <a *ngIf="role !== 'REST_ADMIN'" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>

          <!-- Create Restaurant -->
          <a *ngIf="role !== 'REST_ADMIN'" routerLink="/add-restaurant" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create Restaurant</a>

            <!-- Register User -->
          <a *ngIf="role !== 'REST_ADMIN'" routerLink="/register-user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register User</a>

           <!-- Menu Items Dropdown ------------------------------------------------>
           <div *ngIf="role == 'REST_ADMIN'" class="relative" x-data="{ open: false }">
            <button (click)="toggleDropdownMenuItem()"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium focus:outline-none">
              Menu Item
              <!-- Dropdown arrow icon -->
              <svg class="h-5 w-5 inline-block ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div *ngIf="showDropdownMenuItem" x-show="open"
              class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg origin-top-right divide-y divide-gray-100 focus:outline-none"
              role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <a [routerLink]="['/manage-menu-item/',restaurantId]" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Add Menu Item</a>
              <!-- <a [routerLink]="['/manage-menu-item/',2]" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">View Menu Items</a> -->
            </div>
          </div>
        </div>

      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button"
          class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>
        </button>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>

            <button type="button" (click)="toggleDropdown()"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="">
            </button>

            <!-- Profile dropdown menu -->
            <div *ngIf="showDropdown"
              class="absolute z-10 mt-2 w-48 rounded-md bg-white shadow-lg origin-top-right right-0">
              <div class="py-1">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
                <a (click)="signOffSystem()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>